/* ================================
   Fonts
   ================================ */
@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

/* Tailwind Base Import */
@import "tailwindcss";

/* ================================
   Base Styles
   ================================ */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* ================================
   Theme Configuration
   ================================ */
@theme {
  /* Colors */
  --color-light: #fda7df;
  --color-dark: #d980fa;
  --color-accent: #ecf0f1;
  --color-accent-light: #0d2e51;
  --color-accent-dark: #001f3f; /* New accent light color */
  /* Fonts */
  --font-syne: "Syne", sans-serif;
  --font-titillium: "Titillium Web", sans-serif;

  /* breakpoint */
  --breakpoint-3xl: 1440px;
  --breakpoint-2xl: 1360px;
  --breakpoint-xl: 1280px;
  --breakpoint-3lg: 1200px;
  --breakpoint-2lg: 1120px;
  --breakpoint-lg: 1024px;
  --breakpoint-3md: 950px;
  --breakpoint-2md: 850px;
  --breakpoint-md: 768px;
  --brekpoint-2sm: 700px;
  --breakpoint-sm: 640px;
  --breakpoint-2xs: 560px;
  --breakpoint-xs: 480px;
  --breakpoint-xxs: 400px;
}

/* Utilities*/
@layer utilities {
  /* container */

  .containerize {
    @apply 3xl:max-w-screen-2xl 2xl:max-w-screen-xl xl:max-w-screen-3lg 3lg:max-w-screen-2lg 
           2lg:max-w-screen-lg   2lg:mx-auto sm:mx-10 mx-6;
  }

  /* Buttons */
  .btn {
    @apply md:px-8 px-5  md:py-2.5 py-2 
           font-titillium font-medium tracking-wide capitalize  
           rounded-sm md:text-base text-sm text-white 
           bg-gradient-to-r from-dark to-light 
           hover:from-light hover:to-dark 
           hover:scale-105 
           transition-all duration-500 ease-in-out;
  }

  .linear-gradient {
    @apply bg-gradient-to-r from-dark to-light 
           hover:from-light hover:to-dark;
  }

  .text-gradient {
    @apply bg-clip-text text-transparent 
         bg-gradient-to-r from-dark to-light;
  }

  .round {
    @apply xl:rounded-[100px] lg:rounded-[80px] md:rounded-[60px] rounded-[40px];
  }

  /* Headings */
  .heading-lg {
    @apply font-syne font-bold 
           2xl:text-7xl xl:text-6xl lg:text-5xl 
           md:text-4xl text-3xl;
  }
  .heading-md {
    @apply font-syne font-bold 
           2xl:text-6xl xl:text-5xl lg:text-4xl 
           md:text-3xl text-2xl;
  }
  .heading-sm {
    @apply font-syne font-bold 
           2xl:text-5xl xl:text-4xl lg:text-3xl 
           md:text-2xl text-xl;
  }

  /* Paragraphs */
  .paragraph-lg {
    @apply font-titillium  tracking-wide
           2xl:text-xl xl:text-lg sm:text-base text-sm;
  }
  .paragraph-md {
    @apply font-titillium  tracking-wide
           xl:text-lg lg:text-base text-sm;
  }
  .paragraph-sm {
    @apply font-titillium  tracking-wide
           xl:text-base lg:text-sm text-xs;
  }

  /* padding */
  .padding-t {
    @apply pt-10 md:pt-16 lg:pt-20 xl:pt-24;
  }
}

@keyframes border-move {
  0% {
    clip-path: inset(0 0 98% 0);
  }

  25% {
    clip-path: inset(0 98% 0 0);
  }

  50% {
    clip-path: inset(98% 0 0 0);
  }

  75% {
    clip-path: inset(0 0 0 98%);
  }

  100% {
    clip-path: inset(0 0 98% 0);
  }
}

.border-glow {
  position: relative;

  overflow: hidden;
}

.border-glow::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  border: 3px solid #d980fa;
  animation: border-move 3s linear infinite;
}
